{% extends 'base.html' %}

{% block title %}Все посты{% endblock %}

{% block body %}
<style>
    hr {
      color: #ffffff;
  }
  </style>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="p-md-5 mb-4 row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative bg-dark">
            <div class="post-preview"><br>
                <h1 class="text-white">Все посты: </h1><br><hr><br>
                {% for post1 in pages.items %}
                <div class="text-white">Название: {{ post1.title }}</div><br>
                <div class="text-white">Создатель поста: {{ post1.user_username }}</div><br>

                
                <a href="{{ url_for('post_detail', link=post1.link) }}"><button type="button" class="btn btn-info">Детальнее</button></a>
                <br><hr><br>
                {% endfor %}
            </div>
        </div>
        <div class="justify-content-center d-flex">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li {% if not pages.has_prev %} class="page-item disabled" {% endif %}>
                    <a class="page-link" href="/posts?page={{pages.prev_num}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% for i in pages.iter_pages() %}
                  <li {% if i == pages.page %}class="page-item active" {% endif %}><a class="page-link" href="/posts?page={{i}}">{{i}}</a></li>
                  {% endfor%}
                  <li {% if not pages.has_next %} class="page-item disabled" {% endif %}>
                    <a class="page-link" href="/posts?page={{pages.next_num}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
        </div>
    </div>
    
</div>

{% endblock %}